<?xml version="1.0" encoding="UTF-8" ?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">

    <name>Politician</name>

    <description>
        Politicians App
    </description>

    <author href="http://wohlig.com" email="info@wohlig.com">
        Wohlig Technologies
    </author>
    <gap:plugin name="org.apache.cordova.device" />    
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" version="3.0.2" />

    <icon src="img/ionic.png" />   
    <gap:splash src="img/splash.png" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="splash-screen-duration" value="10000" />
    
    
	
    <access origin="*"/> <!-- allow all pages, use for development -->
    <access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->

</widget>