<ion-view title="Know Your Leader">
    <ion-content class="has-header">
        <div class="item item-divider item-icon-right">
            Vivek Bhau Pandit
        </div>

        <div class="padding">
            <img src="img/ionic.png" class="img-half">
            <p>Vivek Pandit is not only a good organizer but also a fine orator and a visionary leader. He and his movement were able to free thousands of bonded laborers in Thane district as well as in other parts of Maharashtra. His movement has forced the government to give entitlement of more than thirty thousand acres of lands to tribals. The credit of implementation of atrocities act goes to him in the State of Maharashtra. Due to his efforts the State of Maharashtra has changed the policy for the benefit of children who are not enrolled in the school. His famous long March along with thousands of people forced state to exclude 29 villages of Vasai from Municipal Corporation of Vasai-Virar.</p>
            <p>Through his organizations,Vidhayak Sansad ( the Constructive Parliament), Shramajeevi Sanghatana (Organisation of Toiling People) and Samarthan for legislative advocacy work, he and his co-workers spearheaded the struggle for many important issues of human rights.</p>
            <p>He was awarded Ashoka Fellowship in 1983, American Advocacy Fellowship was also awarded to him in 1990.Similary, and he also received renowned Eisenhower Fellowship (USA) in 2000. He has been felicitated by various awards and fellowships. Mr. and Ms. Pandit have received International Anti-Slavery Award (UK), in recognition of their consistent work against bonded labour System. The Parliament of the United Kingdom passed a resolution felicitating their work.
            </p>
        </div>

    </ion-content>
</ion-view>
