<ion-view title="Know Your Leader">
    <ion-tabs>

        <ion-tab title="English">
            <ion-content class="has-header">

                <div class="item item-divider">
                    Vivek Bhau Pandit
                </div>
                <img src="img/ionic.png" class="img-half">
                <div class="item item-divider">About</div>
                <p class="padding text-justify">Biographical Sketch of Shri  Vivek Pandit (MLA,Vasai)</p>
                <div class="item item-divider">Biography</div>
                <p class="padding text-justify">Mr. Vivek Pandit is an ideal person to shoulder this responsibility. He is educated, thorough, studied and uncompromising when it comes to interest of people. He is a visionary recognised as Champion of Social Justice not just in our own country but worldwide. Here is a brief life sketch of Mr. Pandit.
                    <br>Mr. Vivek Pandit has been involved in social movement since his student days. Rashtra Seva Dal and Jayprakash Narayan's students' movement groomed him to what he is today. Mr. Pandit fought stridently for the protection of Democracy in the Anti-Emergency movement in 1975.
                    <br>He combated against every form of exploitation and struggled hard to restore the dignity of downtrodden. Mr. Pandit organized various movements of tribals, labourers and marginal farmers to fight for their minimum wages, for the restoration of alienated land, for the right to education for migrant child labourers, etc. He served as a member on the state government's Task Force on Primary Education.
                    <br>He created institutions that will specifically work in the direction. In 1993 Mr. Pandit along with legends like Hon’ble Justice P.N. Bhagwati (retired Chief Justice of India) and Late Mr. Vijay Tendulkar (leading intellectual and writer) founded the National Centre for Advocacy Studies. He also founded Samarthan, the first state-level advocacy organization to promote issues affecting marginalized groups. Today Samarthan is recognized as premier advocacy institution working with the principal governing institutions of Maharashtra, including the State Assembly, the Judiciary, and the upper-level bureaucracy. Members of Legislature across the political parties refer to analysis by these organisation as authentic and reliable.</p>
                    
                <div class="item item-divider">Recognition</div>
                <p class="padding text-justify">
                    Mr. Pandit has participated in various consultative meetings called by then Hon'ble Prime Ministers Late Mr. Rajiv Gandhi, Late Mr. V. P. Singh and Mr. Atal Bihari Vajpayee. The Estimate Committee of Maharashtra Legislature has sought his views on making state budget simple and people friendly. He bears deep knowledge of functioning of democratic institutions and police system in various countries. He was invited by advocacy organisations in South Africa and Nepal, who wanted to influence their respective constitution making processes.
Mr. Pandit's work has been recognised internationally as well. He has been felicitated by various awards and fellowships. Mr. and Ms. Pandit have received International Anti-Slavery Award (UK), in recognition of their consistent work against bonded labour System. The Parliament of the United Kingdom passed a resolution felicitating their work. They were honoured with Maharashtra Gaurav Award by the Vasantrao Naik Foundation and were felicitated by the Hon’ble His Excellency Governor of Maharashtra. Recently he and Ms. Pandit were felicitated with the first-ever Excellence in Social Service Award by the Rotary Club of Bombay.<br>
Mr. Pandit was awarded the Ashoka Fellowship (USA) in 1982. The fellowship aims to promote young social entrepreneurs. He was awarded Advocacy Fellowship (USA) in 1990 for learning the advocacy techniques. He also received renowned Eisenhower Fellowship (USA) in 2000. It is a highly sought mid career fellowship conferred to leaders in the field of business, media, government and social sectors. He also represented India at the International Human Rights Conference organized by the United Nations in Vienna. In 2003 he was keynote speaker at the General Assembly of the Unitarian Universalist Association of Congregations in Boston, USA.

                </p>

            </ion-content>
        </ion-tab>
        <ion-tab title="मराठी">

            <ion-content class="has-header">

                <div class="item item-divider">
                    विवेक भाऊ पंडित
                </div>
                <img src="img/ionic.png" class="img-half">
                <div class="item item-divider">आमच्या बद्दल</div>
                <p class="padding text-justify">
                   विवेक पंडित ही एक जबाबदार आदर्श व्यक्ती आहेत. ती नेहमीच वसईच्या लोकांच्या मनात घर करून ती नेहमीच वसईच्या लोकांच्या मनात घर करून राहते. ते देशभक्तच नाही तर जन्मभरात ही ते दूरदृष्टी असलेले सामाजिक नेता म्हणून ओळखले जातात.
                   <br>विवेक पंडित यांनी १९७५ मध्ये आणीबाणीच्या काळात लोकशाहीच्या संरक्षणाची लढा दिला. 
                    <br>विवेक भाऊ पंडित यांनी ठाणे जिल्ह्याच्या छोट्याशा गावातून १९७९ मध्ये सामाजिक कार्यास सुरवात केली. त्याने श्रमजीवी संघटन, कामगार पुनर्वसन संघर्ष, तसेच शुल्कबंध आदिवासी कुटुंबातील हजारो घरे प्रकाशित करण्यासाठी लढले. वेठबिगार प्रणाली विरुद्ध त्यांनी लोकांना संघटीत केले. नंतर ही चळवळ भारताच्या इतर भागात ही पसरली मानव अधिकार आयोगाने स्थापन केलेल्या जिल्हा वेठबिगार समितीचे सदस्य म्हणून ही काम केले.
                    <br>कठीण प्रसंगात राज्याच्या टास्क कोर्सवर मुलांना श्रमिक शिक्षणाचा अधिकार, स्वाधीन जमीन जीर्णोद्धार, आदिवासींसाठी किमान वेतन लढा, मजूर आणि स्थानिक शेतकरी यांच्यासाठी अनेक कामे केली.
                    <br>त्यांनी जैव डीझेल वनस्पतींची लागवड केली. जवळजवळ ५५ लाख  झाडे ठाणे जिल्ह्यातील आदिवासी शेतकऱ्यांच्या जमिनीवर लावली. आदिवासी भागात कुपोषण सोडवण्यासाठी लावली. आदिवासी भागात कुपोषण सोडवण्यासाठी विशेष प्रयत्न केले.
                    </p>
                <div class="item item-divider">ओळख</div>
                <p class="padding text-justify">
                    विवेक भाऊ पंडित यांच्या कामाची दाखल आंतरराष्ट्रीय पातळीवर घेऊन स्लेवारी पुरस्कार यु.के.  मध्ये देण्यात आला. तसेच महाराष्ट्रात वसंतराव नाईक फौंडेशन पुरस्कार देऊन सन्मानित करण्यात आले. नुकतेच  मुंबई रोटरीक्लब  ऑफ सोशल सर्विस पुरस्कार श्रीमती पंडित यांना  देण्यात आले.
                    <br>ते चालू विषयांवर मराठी वर्तमान पत्रात खूप मोठ्या प्रमाणात लिहितात. त्यांनी मराठी व इंग्रजी  अशी खूप पुस्तके लिहिली आहेत. 
                    <br>श्री. पंडित यांची राजकारणातील गुन्हेगारीशी लढाई वाखाण्याजोगी आहे. 
                    <br>विवेक भाऊ पंडित यांनी वाळूकंपन्याचा वेचा अधिकार हस्तांतरित करण्याच्या राज्य शासनाच्या निर्णयाविरोधात लढा दिला. जवळजवळ ५०,००० वाळू कामगार असताना त्यांनी त्यांच्या संघटीत करून सरकारच्या निर्णयाच्या निषेधार्थ मुंबई ठाणे ४० कि.मी. अंतराचा लॉंगमार्च काढला आणि जेलभरो आंदोलन केले.
                    <br>२००९ साली ग्रामसभेच्या प्रतिकाराला न जुमानता वसई- विरार महानगरपालिका निर्माण करून ५३ गाव समाविष्ट करण्यात आली होती. ऑर्डर जमीन माफियांच्या हुकुमावरून देण्यात आली होती. त्याला स्थानिक लोकांनी जोरदार विरोध केला. ज्यामुळे शहरापेक्षा ६ लाख लोकसंख्या अतिरिक्त ओझे पडण्याची शक्यता होती. वैद्यकिय साल्याच्या विरोधात जाऊन आमरण उपोषण करण्याचा निर्धार केला. आणि त्यांच्या दबावाने सरकारी आदेश मागे घेण्यात आला.
                    
                </p>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>
