<ion-view title="Wall">
    <ion-content class="has-header">
        <ion-nav-buttons side="right">
            <button class="button" ng-click="clearwall();">CLEAR</button>
        </ion-nav-buttons>
        <div class="list">

            <div class="item item-text-wrap item-button-right" ng-repeat="wallsingle in walldata | orderBy:wallsingle.id:reverse">
                <p ng-show="wallsingle.userdata=='text'">{{wallsingle.title}}</p><a ng-show="wallsingle.userdata=='text'" ng-click="sharetext(wallsingle.title)" class="button button-stable button-clear"><i class="icon ion-android-share"></i></a>

                <p ng-show="wallsingle.userdata=='image'">
                    <a href="{{wallsingle.title}}" download>
                        <img src="{{wallsingle.title|trusted}}" style="width:70px;">
                    </a>
                </p><a ng-show="wallsingle.userdata=='image'" ng-click="shareimage(wallsingle.title)" class="button button-stable button-clear"><i class="icon ion-android-share"></i></a>


            </div>

            <!--
            <div class="item item-button-right">
                <img src="img/ionic.png" class="img-wall">
                <a class="button button-stable button-clear" href="img/ionic.png" download="ionic.png">
                    <i class="icon ion-android-share"></i>
                </a>
            </div>
-->

        </div>
    </ion-content>
</ion-view>
