<ion-view title="Wall">
    <ion-content class="has-header">
<!--
        <ion-nav-buttons side="right">
            <button class="button">Click to refresh</button>
        </ion-nav-buttons>
        
-->
        <button class="button button-block button-light" ng-hide="isrefresh" ng-click="isrefresh=true;">Click to refresh</button>
        <div class="list">
            
            <div class="item item-text-wrap" ng-repeat="wallsingle in walldata">
            <p>{{wallsingle.title}}</p>
            </div>
            
        </div>
    </ion-content>
</ion-view>
