<ion-view title="Constituency Details">
    <ion-tabs>

        <ion-tab title="English">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    About Vasai Assembly (Vidhan Sabha) Constituency
                </div>

                <div class="padding text-justify">
                    <p>A city in the Thane district of Maharashtra, the assembly constituency of Vasai belongs to Palghar parliamentary constituency. The seat has been occupied by an independent candidate since 1995. Vivek Raghunath Pandit (Bhau) won the 2009 assembly elections and is the present MLA. He defeated Narayan Mankar of BVA (Bahujan Vikas Aghadi). Pandit bagged 81358 votes as against Mankar's 64560 votes. An industrial town, it had a population of 1,343,402 in 2011. The city was earlier known as Bassein.</p>
                </div>

            </ion-content>
        </ion-tab>
        <ion-tab title="मराठी">
            <ion-content class="has-header">
                <div class="item item-divider item-icon-right">
                    वसई विधानसभा मतदार संघ बद्दल
                </div>

                <div class="padding text-justify">
                    <p>A city in the Thane district of Maharashtra, the assembly constituency of Vasai belongs to Palghar parliamentary constituency. The seat has been occupied by an independent candidate since 1995. Vivek Raghunath Pandit (Bhau) won the 2009 assembly elections and is the present MLA. He defeated Narayan Mankar of BVA (Bahujan Vikas Aghadi). Pandit bagged 81358 votes as against Mankar's 64560 votes. An industrial town, it had a population of 1,343,402 in 2011. The city was earlier known as Bassein.</p>
                </div>

            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
