<ion-view title="Our Facebook Page">
    <ion-content class="has-header">
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="fb-post" data-href="https://www.facebook.com/photo.php?fbid=684998388238655&amp;set=a.231755670229598.55795.219839544754544&amp;type=1" data-width="466">
            <div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/photo.php?fbid=684998388238655&amp;set=a.231755670229598.55795.219839544754544&amp;type=1">Post</a> by <a href="https://www.facebook.com/pages/Prithviraj-Chavan-CM-Maharashtra/219839544754544">Prithviraj Chavan (CM Maharashtra)</a>.</div>
        </div>
    </ion-content>
</ion-view>