<ion-view title="Facebook">
    <ion-content class="has-header">
        
        <div id="fb-root"></div> <script></script>
        <div class="fb-post" data-href="https://www.facebook.com/219839544754544/photos/a.231755670229598.55795.219839544754544/689310311140796/?type=1" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/219839544754544/photos/a.231755670229598.55795.219839544754544/689310311140796/?type=1">Post</a> by <a href="https://www.facebook.com/pages/Prithviraj-Chavan-CM-Maharashtra/219839544754544">Prithviraj Chavan (CM Maharashtra)</a>.</div></div>

        
    </ion-content>
</ion-view>