<ion-view title="Party Membership">
    <ion-content class="has-header">

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    MP Constituency
                </div>
                <select>
                    <option value="" selected>Select one</option>
                    <option value="">Ahmadnagar</option>
                    <option value="">Akola</option>
                    <option value="">Amravati</option>
                    <option value="">Aurangabad</option>
                    <option value="">Baramati</option>
                    <option value="">Beed</option>
                </select>
            </label>
               <label class="item item-input item-select">
                <div class="input-label">
                    MLA Constituency
                </div>
                <select>
                    <option value="" selected>Select one</option>
                    <option value="">Achalpur</option>
                    <option value="">Aheri</option>
                    <option value="">Ahmadpur</option>
                    <option value="">Ahmednagar City</option>
                    <option value="">Ahmednagar North</option>
                    <option value="">Ahmednagar South</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Area</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Polling Centre</span>
                <input type="text">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Select Position
                </div>
                <select>
                    <option value="" selected>Select Position</option>
                    <option value="">President</option>
                    <option value="">Youth President</option>
                    <option value="">District President</option>
                    <option value="">Mandal President</option>
                    <option value="">Secretary</option>
                    <option value="">General Secretary</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Full Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Father Name</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Birthday</span>
                <input type="date">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <textarea></textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Village</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Town</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">District</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone No.</span>
                <input type="tel">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State
                </div>
                <select>
                    <option value="" selected>Select State</option>
                </select>
            </label>
        </div>
        <div class="padding"><a href="#"><button class="button button-block button-politics">Register</button></a></div>

    </ion-content>
</ion-view>


