<ion-view title="Party Details">
    <ion-tabs>
        <ion-tab title="English">
            <ion-content class="has-header">
                <div class="party">
                    <div class="item item-divider">Vasai Jan Aandolan</div>

                    <p>Vasai Jan Aandolan is a forum established by the People of Vasai for protection of their rights. Aandolan has unanimously conferred candidature (for 133, Vasai Assembly Constituency) to Mr. Vivek Raghunath Pandit (Bhau), a resilient leader. We as 'Vasai Jan Aandolan' are committed to overall and all-inclusive development of Vasai. We assure that our every decision will bear the mandate of 'Will of the People'. We will strive hard to fulfill every wish of the People of Vasai. Policy issues concerning Vasai will be raised in the State Assembly and consistent follow up on issues in the purview of Central Government will be done. This is not a mere manifesto but a Promissory Note to the People of Vasai.</p>

                    <div class="item item-divider">Transparent and Answerable Governance</div>

                    <p>We assure transparent, responsible and answerable administration in Vasai. We assure involvement of citizen in the planning and implementation of development projects and schemes. 24 Hours Helpline will be available for the assistance and security of the citizen. Suggestions and feedback from the citizen is welcome. Suggestion Boxes will be put at central locations in the constituency. Information Centers will be established to assist citizens in getting proformas, certificates and information about government schemes. Annual Report of the work done by our candidate in the constituency and Assembly will be published. Advanced Medical Facilities: Special attention will be provided to the effective functioning of existing government health centers and hospitals. 500 bed well equipped hospital will be built to provide advanced medical facilities to the citizens from low income group.</p>

                    <div class="item item-divider">Infrastructure Development</div>

                    <p>Good quality roads, foot paths and railway subways will be constructed in the constituency. Bridge connecting Naigaon east and west will be constructed at the earliest. Good quality road connecting to Mumbai and parallel to railway line will be constructed. Over bridge at Juchandra railway crossing will be constructed. Bridge will be constructed over the creek to facilitate traffic between Naigaon east and Parreira Nagar. Vasai Fata - Satiwali - Vasai station road will be broadened to four lanes.</p>

                    <div class="item item-divider">24 Hours Electricity</div>
                    <p>There will be no load shedding in Vasai after 2 years. By then timings of load shedding will be properly regulated so that citizens and farmers suffer less. Old and rusted electricity polls and cables will be replaced with safe equipments. No innocent citizen will die at the cost of unsecured electric cables.</p>

                    <div class="item item-divider">Effective Waste Management</div>
                    <p>Modern water sewerage system will be built under the guidance of experts. Dumping grounds, industrial zones, water purification projects and bio-medical waste management projects will be established without affecting health and well being of residents.
                    </p>
                    <div class="item item-divider">Welfare of Disadvantaged and Youth</div>
                    <p>Orphanages, rehabilitation centers for destitute women and widows, rehab cent and schools for physically and mentally challenged visually impaired people will be established. Various programmes for the welfare of youth will be organised through social organisations.</p>

                    <div class="item item-divider">Railway and Local Transport</div>
                    <p>Frequency of trains from Virar to Chrchgate, Vasai to Diwa and Virar to Dahanu will be increased. Every village and locality and housing complex will be connected to railway station for 24 hours by public transport. Coordination between citizens, auto rickshaw owners and drivers will be encouraged for the advantage of all. Water transport between Vasai to Mumbai will be started.</p>

                    <div class="item item-divider">Welfare of Fishermen</div>
                    <p>Beaches will be safeguarded with the help of coastal guards and police. Disaster management system will be established to face natural and other calamities. Subsidised diesel and plenty of water will be provided at the jetties. Ice factories of Fishermen Societies will be modernized. Cold storages will be constructed near fishermen's villages. Refrigerator Banks will be established to encourage export of fish. Wireless and GPS system will be made available to all the fishermen. Houses of fishermen that are affected by BPT and CRZ will be regularized. Effective measures will be taken to prevent erosion of beaches. Revenue land in possession of fishermen and farmers will be regularized.</p>

                    <div class="item item-divider">Facilities for Housing Societies</div>
                    <p>Water connection will be provided on priority basis to housing societies without any hidden or additional costs. Special drives will be organised for easy handed over of conveyance to societies. Plots belonging to housing societies that are reserved for gardens, and other public usages and that are under illegal possessions will be emptied immediately.</p>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="मराठी">
            <ion-content class="has-header">
                <div class="party">
                    <div class="item item-divider">वसई जन आंदोलन</div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
    
</ion-view>
