<ion-view title="Schedule">
    
<ion-content class="has-header">
    <div class="list">

        <a class="item" href="#">
            13 July 2014, Monday
            <span class="item-note">
                3:00 AM
            </span>
        </a>
        <a class="item" href="#">
            13 July 2014, Monday
            <span class="item-note">
                3:00 AM
            </span>
        </a>
        <a class="item" href="#">
            13 July 2014, Monday
            <span class="item-note">
                3:00 AM
            </span>
        </a>

    </div>
</ion-content>
</ion-view>
