<ion-view title="Upload">
    <ion-content class="has-header">
        <div class="padding">
           <h1 class="politics text-center" style="font-size:90px"><i class="icon ion-paperclip"></i></h1>
<!--            <button class="button button-block button-politics">Upload a file</button>-->
       
       
            <div class="list">
                <label class="item item-input">
                    <textarea placeholder="Share with us"></textarea>
                </label>
                <label class="item item-input">
                    <input type="file" placeholder="Upload a file">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
