<ion-view title="Upload">
    <ion-content class="has-header">
        <div class="padding">
           <h1 class="politics text-center" style="font-size:90px"><i class="icon ion-paperclip"></i></h1>
            <h3>{{msg}}</h3>
            <div class="list">
                <label class="item item-input">
                    <textarea placeholder="Share with us" ng-model="image.text"></textarea>
                </label>
                   
            </div>
            <button  ng-click="insertimage(image.text)" class="button button-block button-politics">Upload a file</button>
            
        </div>
    </ion-content>
</ion-view>
