<div class="modal">
    <ion-header-bar class="bar bar-politics">
        <h1 class="title politics">Register</h1> 
    </ion-header-bar>
    <ion-content>
            <div class="list">
                <label class="item item-input">
                    <input type="email" ng-model="username" placeholder="Name">
                </label>
                <label class="item item-input">
                    <input type="tel" ng-model="usernumber" placeholder="Phone Number">
                </label>
                <label class="item">
                    <button class="button button-block button-politics" type="submit">Register</button>
                </label>
            </div>
        </form>
    </ion-content>
</div>

