<ion-view title="Video Gallery">
   
    <ion-content class="has-header">

        <div class="list">
            <div class="item padding">
                <p>Narendra Modi</p>
                <iframe style="width:100%;" src="http://www.youtube.com/embed/aQf0xawbgxk" frameborder="0" allowfullscreen></iframe>
                
            </div>
            <div class="item padding">
                <p>Narendra Modi</p>
                <iframe style="width:100%;" src="http://www.youtube.com/embed/aQf0xawbgxk" frameborder="0" allowfullscreen></iframe>
                
            </div>
        </div>
    </ion-content>
</ion-view>


