<ion-view title="Video Gallery">
   
    <ion-content class="has-header">

        <div class="list">
            <div class="item padding">
                <p>Maharashtra Chief Minister Speech</p>
                <div my-youtube code="code"></div>
                
            </div>
            <div class="item padding">
                <p>Maharashtra Chief Minister Speech</p>
                <iframe style="overflow:hidden;width:100%;overflow:hidden;width:100%" width="100%" src="http://www.youtube.com/embed/3TKgMR1vf8w" frameborder="0" allowfullscreen></iframe>
                
            </div>
        </div>
    </ion-content>
</ion-view>


