<ion-view title="Vote">
    <ion-content class="has-header">

        <div class="list">
           
            <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
                Congress
            </div>
            <i class="radio-icon ion-record balanced"></i>
            </label>
            
            <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
                Congress
            </div>
            <i class="radio-icon ion-record balanced"></i>
            </label>
            
            <label class="item item-radio">
            <input type="radio" name="group">
            <div class="item-content">
                Congress
            </div>
            <i class="radio-icon ion-record balanced"></i>
            </label>
            
        </div>
        <div class="padding"><button class="button button-politics button-block">Vote</button></div>
    </ion-content>
</ion-view>


